p {
	color: #777;
}

p.username {
	font-size: 22px;
	margin-top: -15px;
}

p.tab {
	font-size: 17px;
}

img.img-rounded {
	width: 100%;
}

.label {
	margin-right: 5px;
}

.navbar {
	height: 50px;
}

.navbar-custom {
	background-color: #000;
}

.navbar-custom .navbar-brand {
	color: #fff;
	font-size: 18px;
	padding-top: 10px;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #337ab7;
  background-color: transparent;
}

.navbar-custom .navbar-brand img {
	width: 30px;
}


.right {
	position: absolute;
	right: 57px;
}

.circle {
	width: 10px;
	height: 10px;
	background: #6666cc;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

tr, td {
	padding-right: 20px;
}

td.bulat {
	padding-right: 5px;
}

ul.nav-tabs li a {
	color: #777;
}
ul.nav-tabs li a:hover {
	color: #333;
}


ul.nav-tabs li.active a {
	color: #333;
}

.img-rounded.followers {
	width: 50px;
	height: auto;
}

p.media-heading a {
	color: #333;
	text-decoration: none;
	font-size: 18px;
}

p.media-heading a:hover {
	color: #337ab7;
	font-size: 18px;
}

.pside {
	float: left;
	padding-right: 10px;
}

p.userlogin {
	padding-top: 4px;
}








